PORT=3000
NODE_ENV=development

# For MongoDB Atlas (replace with your connection string)
# MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/DB_name?retryWrites=true&w=majority

# MySQL (example)
# MYSQL_HOST=localhost
# MYSQL_USER=root
# MYSQL_PASSWORD=yourpassword
# MYSQL_DB=jobportal

JWT_SECRET=Your_JWT_Secret

# Backend API URL in production this will be the IP or domain name
# of your EC2 Instance on which your node js app is running
# replace localhost with your EC2 Public IP
VITE_API_URL=http://localhost:3000/api

# frontend url 
# add your EC2 Public IP here
CLIENT_URL=http://localhost:5173

# AWS S3 Configuration
# Leave AWS_ACCESS_KEY_ID / AWS_SECRET_ACCESS_KEY empty if you use EC2 IAM role
AWS_REGION=ap-south-2
AWS_BUCKET_NAME=rozgaarsathi-s3-21-02-26
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=